@using SalesCustomerFront.Models
@code {
    [Parameter] public List<SalesOrderModel> Orders { get; set; }
    [Parameter] public EventCallback<SalesOrderModel> OnEdit { get; set; }
    [Parameter] public EventCallback<SalesOrderModel> OnDelete { get; set; }
}

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Order No</th>
            <th>Order Date</th>
            <th>Customer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Orders)
        {
            <tr>
                <td>@order.RecId</td>
                <td>@order.OrderNo</td>
                <td>@order.OrderDate</td>
                <td>@order.CustomerName</td>
                <td>
                    <button @onclick="() => OnEdit.InvokeAsync(order)">Edit</button>
                    <button @onclick="() => OnDelete.InvokeAsync(order)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
